:root{
    --bg-color: #ffffff;
    --text-color: #021526;
    --button-color: #021526;
    
}

.dark{
    --bg-color: #021526;
    --text-color: #ffffff;
    --button-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
button{
    background-color: var(--button-color);
    color: var(--bg-color);
    transition: background-color 0.3s, color 0.3s;
}